.root {
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: minmax(15px, 165px) 1fr minmax(15px, 165px);
}

@media (max-width: 1439px) {
  .root {
    grid-template-columns: 15px 1fr 15px;
  }
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: hsl(0, 87%, 67%);

  /* Neutral */
  --gray: hsl(0, 0%, 75%);
  --grayish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /* Typography */
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-weight-regular: 500;
  --font-weight-bold: 700;
}

body {
  font: 500 18px/1.5 var(--font-family-sans-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: var(--font-family-sans-serif);
  margin: 0;
}

p {
  margin: 0;
}

input {
  font-family: var(--font-family-sans-serif);
}

.btn {
  font-family: var(--font-family-sans-serif);
  border-radius: 30px;
  padding: 18px 40px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 1;
}

.btn-small {
  line-height: 1.5;
  font-size: 16px;
  padding: 8px 25px;
}

.btn-primary {
  background-color: var(--cyan);
  color: white;
}

.btn-secondary {
  background-color: white;
  color: var(--grayish-violet);
}

.btn-secondary:active {
  color: var(--dark-violet);
}

.btn-primary:active {
  background-color: hsla(180, 66%, 49%, 0.6);
}

.btn-primary:focus,
.btn-secondary:focus {
  outline: none;
}
